# Ignore class files
*.class

# Ignore build directory
bin/

# Ignore Eclipse project files
.settings/
.project
.classpath

# Ignore logs and temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db
